<swiper-container #swiperContainer
                  autoplay-delay="2500"
                  autoplay-disable-on-interaction="true"
                  loop="true"
                  mousewheel-force-to-axis="true"
                  pagination="true"
                  pagination-clickable="true"
>
  <swiper-slide>
    <app-img-container [imgSrc]="'https://fakeimg.pl/1080x420'" [imgAlt]="''"></app-img-container>
  </swiper-slide>
  <swiper-slide>
    <app-img-container [imgSrc]="'https://fakeimg.pl/1080x420'" [imgAlt]="''"></app-img-container>
  </swiper-slide>
  <swiper-slide>
    <app-img-container [imgSrc]="'https://fakeimg.pl/1080x420'" [imgAlt]="''"></app-img-container>
  </swiper-slide>
  <swiper-slide>
    <app-img-container [imgSrc]="'https://fakeimg.pl/1080x420'" [imgAlt]="''"></app-img-container>
  </swiper-slide>
</swiper-container>
