<div class="shopy-small-imgs-slider">
  <div class="mycontainer">
    <app-section-head-text [headText]="'success partners'"></app-section-head-text>

    <swiper-container appSwiperSlider class="pb-5"
                      mousewheel-force-to-axis="true"
                      space-between="30"
                      pagination="true"
                      pagination-dynamic-bullets="true"
    >
      <swiper-slide>
        <app-img-container [imgSrc]="'https://fakeimg.pl/100x100'" [imgAlt]="'promo'" [imgText]="'promo'"></app-img-container>
      </swiper-slide>
      <swiper-slide>
        <app-img-container [imgSrc]="'https://fakeimg.pl/100x100'" [imgAlt]="'promo'" [imgText]="'promo'"></app-img-container>
      </swiper-slide>
      <swiper-slide>
        <app-img-container [imgSrc]="'https://fakeimg.pl/100x100'" [imgAlt]="'promo'" [imgText]="'promo'"></app-img-container>
      </swiper-slide>
      <swiper-slide>
        <app-img-container [imgSrc]="'https://fakeimg.pl/100x100'" [imgAlt]="'promo'" [imgText]="'promo'"></app-img-container>
      </swiper-slide>
      <swiper-slide>
        <app-img-container [imgSrc]="'https://fakeimg.pl/100x100'" [imgAlt]="'promo'" [imgText]="'promo'"></app-img-container>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
