<div #menuDrawer class="menu-drawer">
  <button class="drawer-close-btn" (click)="closeMenuDrawer()">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="32" height="32"
           viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
           stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
  <div class="drawer-header">
      <div class="mb-tap-title active" data-menutab=".menu-mb-cat">
        <span>Categories</span>
      </div>
      <div class="mb-tap-title" data-menutab=".menu-mb-nav">
        <span>Menu</span>
      </div>
    </div>
  <div class="menu-mb-cat active menu-mb-item">
      <ul>
        <li><a href="search_result/search.html" class="shopy-category-link" data-productscategory="Hoodie">Hoodies</a></li>
        <li><a href="search_result/search.html" class="shopy-category-link" data-productscategory="T-Shirt">T-Shirts</a></li>
        <li><a href="search_result/search.html" class="shopy-category-link" data-productscategory="Jacket">Jackets</a></li>
        <li><a href="search_result/search.html" class="shopy-category-link" data-productscategory="Pants">Pants</a></li>
        <li><a href="search_result/search.html" class="shopy-category-link" data-productscategory="Jeans">Jeans</a></li>
        <li><a routerLink="/user/logout" class="shopy-category-link" data-productscategory="Jeans">Logout</a></li>
      </ul>
    </div>
  <div class="menu-mb-nav menu-mb-item">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="/" class="mb-menu-tap-link">About us</a></li>
        <li><a href="/" class="mb-menu-tap-link">Contact us</a></li>
        <li><a href="/" class="mb-menu-tap-link">Location</a></li>
      </ul>
    </div>
</div>
