<div #searchDrawer class="search-drawer">
  <div class="drawer-header">
      <span>Search in site</span>
      <button class="drawer-close-btn" (click)="closeFilterDrawer()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="32" height="32"
             viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" fill="none" stroke-linecap="round"
             stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
  </div>
  <div class="mb-search">
      <input type="text" placeholder="search...">
      <a href="search_result/search.html">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </span>
      </a>
    </div>
  <div class="search-result">
      <div class="mb-result-head">
        <span class="head-text active">Need some suggestions?</span>
        <span class="head-text">search result</span>
      </div>
      <div class="mb-result-content">
        <div class="search-result-found">
          <div class="shopy-search-result-items">
            <!-- <div class="result-item">
                <div class="result-item-img">
                    <a href="product/product.html">
                        <img class="has-product-id" src="https://raw.githubusercontent.com/mosayeh99/products_json_api/main/images/8/2.jpg" alt="" data-productid="1">
                    </a>
                </div>
                <div class="result-item-text">
                    <a href="">
                        <p class="has-product-id" data-productid="1">Prof hoddy - black</p>
                    </a>
                    <span class="item-price">EGP<span>555</span></span>
                    <del class="item-instead-price">EGP<span>777</span></del>
                </div>
            </div> -->
          </div>
          <div class="mb-result-view-more">
            <a href="search_result/search.html">
              <span>view All</span>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24"
                     viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <line x1="15" y1="16" x2="19" y2="12"></line>
                  <line x1="15" y1="8" x2="19" y2="12"></line>
                </svg>
              </span>
            </a>
          </div>
        </div>
        <div class="result-not-found">
          <span>No results founded for your search</span>
        </div>
      </div>
    </div>
</div>
