<div #filterDrawer class="product-filter-drawer">
  <div class="product-filter-head">
    <span>Filter</span>
    <button class="drawer-close-btn" (click)="closeFilterDrawer()">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="32" height="32"
           viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" fill="none" stroke-linecap="round"
           stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
    </div>
  <div class="product-filter-menu mt-3">
    <span>Categories</span>
    <div class="filter-menu-item">
        <label>
          <input class="filter-toggle-checkbox" type="checkbox" data-fitervalue="hoodie">
          <div class="filter-toggle-box">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check"
                     width="16" height="16" viewBox="0 0 24 24" stroke-width="3"
                     stroke="currentColor" fill="none" stroke-linecap="round"
                     stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </span>
          </div>
          Hoodies
        </label>
      </div>
  </div>
</div>
