<div class="description-list">
  <ul>
    <li>Thrasher Burn It Down hoodie has a typical pullover hooded sweater build, with a Nasty Neckface version of the
      iconic Thrasher Magazine Logo print across the chest and a large graphic on the back
    </li>
    <li>This hoodie is an absolute staple in any skater’s wardrobe, even reaching out into the fashion world and worn by
      big-name celebs, this hoodie has embedded itself into a wardrobe must-have
    </li>
    <li>With a brown cotton-poly fabrication with an orange print on the chest and a multi-coloured print on the back
    </li>
    <li>Elasticated and ribbed hem and cuffs</li>
    <li>Drawstring in the hood to adjust tightness when worn</li>
    <li>90% Cotton, 10% Polyester</li>
  </ul>
</div>
