<div id="banner-head-two-images" class="d-grid position-relative">
  <div class="row m-0">
    <div id="banner-image-left" class="col p-0 d-none d-md-block">
      <img class="w-100" src="assets/images/banner-head-left.webp" alt="">
    </div>
    <div id="banner-image-right" class="col p-0">
      <img class="w-100" src="assets/images/banner-head-right.webp" alt="">
    </div>
  </div>
  <div id="banner-text" class="position-absolute top-50 start-50 text-light text-uppercase border border-2 p-3 ">
    <span>Discover new luxury fashion</span>
  </div>
  <div id="banner-arrow" class="position-absolute start-50 text-light">
    <span class="d-none d-md-block">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down"
           width="118" height="118" viewBox="0 0 24 24" stroke-width="0.5" stroke="currentColor"
           fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
    </span>
    <span class="d-block d-md-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="80"
           height="80" viewBox="0 0 24 24" stroke-width="0.5" stroke="currentColor" fill="none"
           stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
    </span>
  </div>
</div>
