<div class="products-slider mycontainer">
  <app-section-head-text [headText]="'hoodies'"></app-section-head-text>

  <swiper-container appSwiperSlider class="pb-4"
    mousewheel-force-to-axis="true"
    space-between="20"
    pagination="true"
    pagination-dynamic-bullets="true"
  >
    <swiper-slide><app-product></app-product></swiper-slide>
    <swiper-slide><app-product></app-product></swiper-slide>
    <swiper-slide><app-product></app-product></swiper-slide>
    <swiper-slide><app-product></app-product></swiper-slide>
    <swiper-slide><app-product></app-product></swiper-slide>
    <swiper-slide><app-product></app-product></swiper-slide>
    <swiper-slide><app-product></app-product></swiper-slide>
    <swiper-slide><app-product></app-product></swiper-slide>
    <swiper-slide><app-product></app-product></swiper-slide>
    <swiper-slide><app-product></app-product></swiper-slide>
  </swiper-container>
</div>
