<div class="mycontainer ">
  <div class="product-container">
    <div class="product">
      <div class="images">
        <app-product-slider></app-product-slider>
      </div>

      <div class="details">
        <app-product-info></app-product-info>
        <app-product-sizes></app-product-sizes>
        <div class="product-action-btns">
          <app-product-quantity></app-product-quantity>
          <button class="add-to-cart-btn">Add to cart</button>
          <button class="add-to-wishlist-btn" matTooltip="Add To Wishlist" matTooltipPosition="above">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path></svg>
          </button>
        </div>
        <app-product-description></app-product-description>
        <div class="product-features">
          <div class="feature">
            <div class="feature-img">
              <img src="../assets/images/icon-delivery.webp" alt="">
            </div>
            <p>Rapid worldwide delivery</p>
          </div>
          <div class="feature">
            <div class="feature-img">
              <img src="../assets/images/icon-60-day-returns.webp" alt="">
            </div>
            <p>60 day return policy with free UK return label</p>
          </div>
          <div class="feature">
            <div class="feature-img">
              <img src="../assets/images/icon-1-year.avif" alt="">
            </div>
            <p>We will replace or repair any faulty item</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
