<div class="checkout-products">
  <h6 class="checkout-section-head mt-3">Order Summary</h6>
  <table class="products-table">
    <thead class="products-head">
    <tr>
      <th>Items</th>
      <th class="subtotal">Subtotal</th>
    </tr>
    </thead>
    <tbody class="products-body">
    <tr>
      <td>
        <span >{{'Thrasher Hoodie – Dark Chocolate' | slice:0:12}}...</span>
        <span>&nbsp;- {{'m' | uppercase}}</span>
        <span>&nbsp;× {{1}}</span>
      </td>
      <td class="subtotal">2000EGP</td>
    </tr>
    <tr class="total-price-list">
      <td>Total Price</td>
      <td class="subtotal">2000EGP</td>
    </tr>
    </tbody>
  </table>
</div>
