<div class="reset-password-form">
  <form (ngSubmit)="onSubmit(resetPasswordForm.value)" [formGroup]="resetPasswordForm">
    <h2>Reset Password</h2>
    <div class="form-error">
      <mat-error *ngIf="serverMsgError">{{serverMsgError}}</mat-error>
    </div>

    <ng-container formGroupName="passwords">
      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input formControlName="password" matInput type="password" required>
        <mat-error *ngIf="password!.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="password!.hasError('minLength')">Must be more than 8 characters</mat-error>
        <mat-error *ngIf="password!.hasError('uppercase')">Must contain at least 1 uppercase character</mat-error>
        <mat-error *ngIf="password!.hasError('lowercase')">Must contain at least 1 lowercase character</mat-error>
        <mat-error *ngIf="password!.hasError('numeric')">Must contain at least 1 number</mat-error>
        <mat-error *ngIf="password!.hasError('special')">Must contain at least 1 special character</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm New Password</mat-label>
        <input formControlName="confirm_password" matInput type="password" required>
        <mat-error *ngIf="confirmPassword!.hasError('required')">Confirm password is required</mat-error>
        <mat-error *ngIf="confirmPassword!.hasError('mismatch')">Confirm password not match password</mat-error>
      </mat-form-field>
    </ng-container>
    <button type="submit" mat-flat-button color="primary" [disabled]="resetPasswordForm.invalid">Reset Password</button>
  </form>
</div>
